* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("bg.jpg") center;
  background-size: cover;
}
.container {
  width: 800px;
  height: 600px;
  border-radius: 1em;
  padding: 2em;
  display: flex;
  gap: 1em;
}

.col {
  border-radius: 1em;
}

.col-1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.col-2 {
  flex: 1;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
.col-3 {
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex: 1;
}

.row {
  flex: 1;
  border-radius: 1em;
  display: flex;
  gap: 1em;
}

.row.row-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.row-box {
  flex: 1;
  border-radius: 1em;
}

.box {
  flex: 1;
  border-radius: 1em;
  gap: 1em;
}

.row-box {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #ffffff10;
  backdrop-filter: blur(50px);
  transition: 0.3s ease-in-out;
}

.box {
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid #ffffff10;
  backdrop-filter: blur(50px);
  transition: 0.3s ease-in-out;
}

.row-box:hover {
  transform: scale(1.02);
  border: 2px solid #ffffff50;
  transition: 0.3s ease-in-out;
}
.box:hover {
  transform: scale(1.02);
  border: 2px solid #ffffff50;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .col-1 {
    flex-direction: row;
  }
  .col-2 {
    flex-direction: row;
  }

  .col-3 {
    flex-direction: row;
  }
  .row {
    flex-direction: column;
    flex: 2;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: 900px;
    max-height: 550px;
    gap: 0.5em;
  }
  .col {
    gap: 0.5em;
  }
  .row {
    gap: 0.5em;
  }
}
